body{
    background: lightgreen;
}
li{
    display: inline;
}
.product{
    height: 550px;
    width: 550px;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 90px auto;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
.product-photo{
    width: 270px;
    height: 450px;
    border-radius: 5px;
    margin-left: -70px;
}

.photo-container {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-photo {
    height: 350px;
    width: inherit;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.controls {
    color: #fff;
    display: flex;
    column-gap: 210px;
}

.main-photo img {
    height: 300px;
    width: 300px;
    position: relative;
    left: -40px;
}

.photoss {
    width: inherit;
    height: 100px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.photoss ul {
    /* margin: 26px px; */
}

li img{
    height: 35px;
    width: 35px;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
    
}

.title {
    font-size: 1.2rem;
    /* font-weight: 900px; */
    color: rgba(0, 0, 0, 0.664);
    line-height: 2ch;
}

.title span {
    font-size: .8rem;
    /* font-weight: 900px; */
    color:rgba(0, 0, 0, 0.342);
}

.price {
    height: 100px;
    padding: 10px 0;
    color: rgb(252, 101, 41);
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.price span {
    font-size: 3.5rem;
    font-weight: 500;
    margin-left: 5px;
}

h3 {
    font-size: 1rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.342);
}

.colori ul {
    
    margin: 10px 25px;
}

.colori li img {
    height: 23px;
    width: 23px;
    border: none;
}

.colori li:first-child img {
    border: 2px solid gray;
}

.about ul {
    margin: 12px 40px;
}

.about li {
    display: list-item;
    font-size: .77rem;
    font-weight: 900px;
    color:rgba(0, 0, 0, 0.774)
}





.add{
    background-color: red;
    font-weight: 900px;
    padding: 10px 15px;

}